<!-- Google Font -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

<!-- FontAwesome JS -->
<script defer src="fontawesome/js/all.js"></script>

<!-- Plugins CSS -->
<link rel="stylesheet" href="plugins/flickity/flickity.min.css">

<!-- Theme CSS -->  
<link id="theme-style" rel="stylesheet" href="css/theme-1.css">


{{ with partialCached "func/style/GetMainCSS" "style/GetMainCSS" }}
<link rel="stylesheet" href="{{ .RelPermalink }}" >
{{ end }}

{{ range site.Params.custom_css }}
  {{ with partialCached "func/style/GetResource" . . }}{{ else }}
    <link rel="stylesheet" href="{{ relURL (.) }}">
  {{ end }}
{{ end }}